.nav{
    display: flex;
    flex-direction: row;
    height: 3rem;
    box-shadow: #1f2d2e 2px 2px 10px;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-radius: 0.4rem;
    color: #1f2d2e;
         background:
        #84c7d4;
}
.getStarted{
    border: 2px solid #1f2d2e;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.4s ease;
}
.getStarted:hover{
    background-color: #1f2d2e;
    color: #eaf8f6;
}
.logo h1{
    font-size: 1.5rem;
    font-weight: 700;
}
body{
     min-height: 100vh;
}